
body{
	font-family: 'Montserrat', sans-serif;
}
h1, .h1, h2, .h2, h3, .h3{margin:0;}
a{color: #252525}
img{max-width: 100%;}
a:hover{text-decoration: none;}


header{
	background: url(../images/bg_header.jpg) no-repeat center top fixed;
	background-size: cover;
	padding: 75px 0; 
}
h2.headding{
	color: #fff;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 1.3;
	margin: 50px 0;
	text-transform: uppercase;
}

a.by-themes{
	background: #39B3E4;
	color: #fff;
	display: inline-block;
	font-size: 22px;
	font-weight: bold;
	padding: 10px 35px;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
}
a.by-themes:hover{
	background: #333;
}
.content {
  margin-bottom: 35px;
}

.main-content{
	padding: 75px 0 0;
}

.main-content-inner > div{
	margin-bottom: 40px;
}

.text-40{
	color: #333;
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
}
.text-30{
	font-size: 30px;
	margin-bottom: 75px;
}

span.shop-name{
	text-transform: uppercase;
	display: block;
}
.animated.layout-h  a {
  color: #333;
  transition:0.3s;
}
.animated.layout-h  a:hover {
  color: #f45c5d;
}
.option{
	padding: 140px 0;
	background: #b4e4e6;
	margin-top: 100px;
	display: none;
}
.option .text-40{
	margin-bottom:80px;
}

footer{
	background: rgba(0, 0, 0, 0) url("../images/footer.jpg") no-repeat scroll center top / cover ;
	padding: 75px 0;
}

footer h2.headding{
	font-size: 40px;
	color: #fff;
	margin: 0 0 60px;
}


a.default.link{
	box-shadow: 1px 1px 8px #666;
	display: block;
	margin-bottom: 10px;
	overflow: hidden;
	position: relative;
}

a h2.headding-text {
  color: #555;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top:30px;
  transition:0.4s;
}
a:hover h2.headding-text{
	color: #39B3E4;
}
.image-bg {
  display: inline-block;
  height: 300px;
  position: relative;
  width: 360px;
}
.image-bg .image-shop-scroll {
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 332px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 5px;
  width: 372px;
  transition: all 6s ease-out 0s;
}
.image-bg:hover .image-shop-scroll {
  background-position: center 100% !important;
}